.services-submenu {
  width: 10rem;
  position: absolute;
  top: 74px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--item-hover);
  cursor: pointer;
}

.services-submenu li:hover {
  background: var(--subitem-hover);
  width: 100%;
}

.services-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 16px;
}

@media screen and (max-width: 1180px) {
  .services-submenu {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .services-submenu {
    display: none;
  }
}
