.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: var(--navbar-color);
  width: 100vw;
  height: 60px;
}

.switch {
  display: flex;
  align-items: center;
}

.switch .label {
  flex: 1;
  line-height: 30px;
}

.switch .toggle {
  position: relative;
}

.switch .toggle label {
  position: absolute;
  display: inline-block;
  width: 65px;
  height: 30px;
  z-index: 1;
  border-radius: inherit;
  cursor: pointer;
}

.switch .toggle input {
  display: none;
}

.switch .toggle-bg {
  margin-left: auto;
  width: 65px;
  height: 30px;
  border-radius: 30px;
  background: var(--background);
}

.switch .toggle-thumb {
  position: absolute;
  top: 2px;
  left: 3px;
}

.switch .toggle-thumb i {
  color: var(--navbar-second);
  font-size: 1.1rem;
  padding: 0.25rem;
  border-radius: 50%;
}

.switch .toggle-thumb .fa-sun {
  opacity: 0;
  z-index: 1;
  transform: translateX(1px);
  transition: all 0.5s;
}

.switch .toggle-thumb .fa-moon {
  opacity: 1;
  transform: translateX(-30px);
  transition: all 0.55s;
}

.switch .toggle input[type='checkbox']:checked ~ .toggle-thumb .fa-sun {
  opacity: 1;
  z-index: -1;
  transform: translateX(34px);
}

.switch .toggle input[type='checkbox']:checked ~ .toggle-thumb .fa-moon {
  opacity: 0;
  transform: translateX(4px);
}

.navbarLogo {
  color: var(--text-primary);
  justify-self: start;
  cursor: pointer;
}

.searchContainer {
  border: 2px solid lightgray;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 3px;
  width: 180px;
  margin-left: 30px;
  gap: 5px;
}

input {
  border: none;
  font-size: 14px;
}

.menuItem {
  color: var(--text-primary);
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.menuItem:hover {
  background-color: var(--item-hover);
  border-radius: 4px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.fa-store {
  margin-left: 0.5rem;
}

.fa-bars {
  color: var(--text-primary);
}

.fa-times {
  color: var(--text-primary);
}

.menu-icon {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 2rem;
}

.menuItem {
  color: var(--text-primary);
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.menuItem:hover {
  background-color: var(--item-hover);
  border-radius: 4px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

@media screen and (max-width: 1180px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background: var(--navbar-color);
    height: 60px;
  }

  .navbarLogo {
    color: var(--text-primary);
    justify-self: start;
    margin-left: 30px;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -200%;
    width: 100%;
    top: 68px;
    height: 500px;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--menu-active);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .menuItem {
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .menuItem:hover {
    background-color: var(--item-hover);
    border-radius: 0;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-bars {
    color: var(--text-primary);
  }

  .fa-times {
    color: var(--text-primary);
  }
}

@media screen and (max-width: 700px) {
  .searchContainer {
    border: 2px solid lightgray;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1px;
    margin-left: 10px;
    gap: 1px;
    font-size: 12px;
    width: 140px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background: var(--navbar-color);
    height: 60px;
  }

  .logoWrapper {
    font-size: 12px;
    width: 60vw;
  }

  input {
    font-size: 12px;
    width: 120px;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -200%;
    width: 100%;
    top: 68px;
    height: 410px;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 10px;
  }

  .nav-menu.active {
    background: var(--menu-active);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .menuItem {
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    display: table;
    font-size: 14px;
  }

  .fa-bars {
    color: var(--text-primary);
    font-size: 16px;
  }

  .fa-times {
    color: var(--text-primary);
    font-size: 16px;
  }
}
