.qntyContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}